<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
    <style>
        *,
*:before,
*:after {
  /* box-sizing: border-box; */
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-size: 1em; */
  /* line-height: 1.6; */
  background: #eee
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  width: 375px;
  height: 550px;
  /* background: #ffffff; */
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 70px 30px 0;
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  border-radius: 25px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    background: red;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 25px;
    background: linear-gradient(130deg, #ff5454 10%, #2f78ff 100%);
  }
}

.poster {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  &__img {
    height: 200px;
    /* background: url('http://cdn1-www.comingsoon.net/assets/uploads/gallery/angry-birds-1412173620/angrybirdsmovie0004.jpg'); */
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  &__info {
    background: #fff;
    padding: 25px 25px 40px;
  }
  &__title {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: .4em;
  }
  &__text {
    font-size: .9em;
    color: #999;
    font-weight: 300;
  }
}

a {
  display: block;
  position: relative;
    bottom: 15px;
  width: 250px;
  background: #27ae60;
  text-align: center;
  /* margin: 30px auto; */
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-decoration: none;
  font-size: .9em;
  font-weight: 300;
  background: linear-gradient(90deg, #2ecc71, #27ae60);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.18);
  /* transition: 0.3s; */
  &:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10), 0 8px 8px rgba(0, 0, 0, 0.18);
  }
}
.movie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}
div#mov {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}
img {
    width: 180px;
}
    </style>
</head>
<body>
    <div id="mov"><p>movies</p></div>
    <div class="movie">
    <% movies.map((x) => { %>
            <!-- <div><img src=<%= x.imageurl %> alt=""></div>
            <div><%= x.title %></div>
            <div><%= x.genre %></div>
            <div><%= x.imdbrating %></div>
            <div><%= x.released %></div>
            <div><%= x.synopsis %></div> -->

            <div class="container">
                <div class="poster">
                  <div class="poster__img"><img src=<%= x.image %> alt=""></div>
                  <div class="poster__info">
                    <h1 class="poster__title"><%= x.title %></h1>
                    <p class="poster__text"><%= x.synopsis %></p>
                  </div>
                </div>
                <div>
                <a href="#">Find out more</a>
            </div>
              </div>
    
    <% }) %>
</div>
</body>
</html>